.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.button {
  padding: 1em;
  color: #fff;
  border-radius: 1em;
}

.results {
  background-color: #59ce8f;
  color: #1a4d2e;
}

.showDishes {
  background-color: #187498;
}

.welcomeText {
  font-family: monospace, Courier;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}
.cursor {
  font-size: 1.5em;
}
